body{
    margin: auto;
    width: max-content;
    height: max-content;
    margin-top: 50px;
    background: url(img/tlo.jpg);
}

.container{
    background-color: rgba(0, 0, 0,0.8) ;
    width: 1200px;
    height: 800px;
    border-radius: 10px;
}

.main{
    position: relative;
    top: 50px;
    /*background-color:rgba(0, 0, 0,0.5);*/
    width: 1200px;
    height: 700px;
    display: grid;
    grid-template-columns: 70% 30%;
    font-size: 20px;
    text-align: center;
    
}

.audioBtn{
    /*background-color: rgba(0, 0, 0,0.5);*/
    display: grid;
    grid-template-rows: repeat(3, 31%);
    grid-template-columns: repeat(3, 33%);
    row-gap: 20px;
    padding-left: 30px;
    font-size: 50px;
    color: white;
}
.sound{
    background-color: rgb(20, 20, 20);
    width: 180px;
    border:solid 3px black;
    box-shadow: 0 0 1px 1px red;
    padding: 20px;
    transition: 0.3s ease;
    padding-top: 20%;
}
.underline{
    font-size: small;
}
.soundhover{
    box-shadow: 0 0 5px 5px red;
    background-color: red;
    font-size: 70px;
    padding-top: 18%;
    
}

.channels{
    width: 330px;
    height: 180px;
    font-size: xx-large;
    padding-top: 30px;
    background-color: rgb(20, 20, 20);
    border: solid 1px rgb(40, 40, 40);
}
.one{
    color:red;
}
.two{
    color: blue;
}
.three{
    color: green;
}
.four{
    color: yellow;
}


.option{
    background-color: rgb(20, 20, 20);
    height: 87px;
    width: 330px;
    display: flex;
    margin-top: 90%;
    padding-top: 13px;
    border: solid 1px rgb(40, 40, 40);
}
#playBtn{
    margin-right: 80px;
    margin-left: 50px;
    background-color: rgb(20, 20, 20);
    width: 74px;
    height: 74px;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 5px;
    border-width: 35px 0px 35px 74px;
    border-color: transparent transparent transparent rgb(120, 0, 0);
}
#playBtn:hover{
    border-color: transparent transparent transparent red;
}
#recordBtn{
    background-color: rgb(120, 0, 0);
    width: 74px;
    height: 74px;
    border: none;
    border-radius: 10px;
}
#recordBtn:hover{
    background-color: red;
}
/*
#recordBtn2{
    background-color:blue;
    width: 74px;
    height: 74px;
    border: none;
    border-radius: 10px;
}
#recordBtn2:hover{
    background-color: whitesmoke;
}
#recordBtn3{
    background-color:green;
    width: 74px;
    height: 74px;
    border: none;
    border-radius: 10px;
}
#recordBtn3:hover{
    background-color: whitesmoke;
}
#recordBtn4{
    background-color:yellow;
    width: 74px;
    height: 74px;
    border: none;
    border-radius: 10px;
}
#recordBtn4:hover{
    background-color: whitesmoke;
}*/