body{
    margin: 0; 
    margin: 50px 462px auto 462px;
}
.gallery{
    width: 940px;
    height: 640px;
    padding: 80px 30px 80px 30px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 200px 200px 200px; 
    column-gap: 20px;
    row-gap: 20px;
}
.image{
    width: 300px;
    height: 200px;
}