body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: gray;
}

#start{
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 50px;
}

canvas{
    position: absolute;
    border:white 1px solid;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


